:root {
  --bg: #EFE6E4;
  --bg-dark: #8D7370;
  --bg-pink: #E2C4BA;
  --text: #533738;
  --text-light: #FFF;
  --link-btn: #CC8B86;
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'Montserrat';
    src:
        url('../fonts/MontserratRegular.woff2') format('woff2'),
        url('../fonts/MontserratRegular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src:
        url('../fonts/MontserratMedium.woff2') format('woff2'),
        url('../fonts/MontserratMedium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
}

.body {
    min-width: 1200px;
    font-family: 'Montserrat' , 'sans-serif';
    background-color: var(--bg);
}

.visually-hidden {
    position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      padding:0 !important;
      border:0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
  }

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1400px;
    padding: 0 100px;
    margin: 0 auto;
}

.content-wrap {
  padding: 0 182px;
}

.title {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: var(--text);
    text-transform: uppercase;
}

.descr {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: var(--text);
}

/* header */
.header {
    background: url("../img/bg-hero.jpg") no-repeat center;
    background-size: cover;
}

.header-wrap {
    align-items: center;
    padding: 36px 0;
}

.logo {
    align-items: center;
    margin-right: auto;
    text-decoration: none;
}

.logo__descr {
    font-size: 16px;
    line-height: 20px;
    color: var(--text);
}

.nav {
    margin-right: 39px;
}

.nav__item:not(:last-child) {
    margin-right: 28px;
}

.nav__link {
    font-size: 16px;
    line-height: 20px;
    color: var(--text);
    text-decoration: none;
}

.phone {
    font-size: 16px;
    line-height: 20px;
    color: var(--text);
    text-decoration: none;
}

/* hero */
.hero {
  padding: 56px 0;
  padding-bottom: 168px;
}

.hero__title {
    margin-bottom: 20px;
    max-width: 534px;
    font-size: 50px;
    line-height: 62px;
    text-transform: none;
}

.hero__descr {
  margin-bottom: 24px;
  max-width: 410px;
}

.hero__link {
    display: inline-block;
    padding: 25px 68px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--text);
    text-decoration: none;
    background-color: var(--link-btn);
}

/* about us */
.about-us__top {
  padding: 65px 0 21px;
}

.about-us__title {
  text-align: center;
  margin-bottom: 40px;
}

.about-us__img {
  margin-right: 63px;
}

.about-us__descr:not(:last-child) {
  margin-bottom: 30px;
}

.about-us__bottom {
  padding: 85px 0 81px;
  background-color: var(--bg-dark);
}

.about-us__list {
  justify-content: space-between;
}

.about-us__item {
  flex-direction: column;
  align-items: center;
}

.about-us__number {
  margin-bottom: 8px;
  font-size: 50px;
  line-height: 62px;
  color: var(--text-light);
}

.about-us__word {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: var(--text-light);
  text-transform: uppercase;
}

/* our works */
.our-works {
  text-align: center;
  padding: 65px 0;
}

.out-works__title {
  text-align: left;
  margin-bottom: 40px;
}

.our-works__list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.our-works__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 26px;
}

.our-works__link {
  position: relative;
  text-align: center;
  padding-right: 70px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: var(--text);
  text-decoration: none;
}

.our-works__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: url("../img/arrow.svg") no-repeat center;
}

/* team */
.team {
  padding: 50px 0 35px;
  background-color: var(--bg-pink);
}

.team__title {
  text-align: center;
  margin-bottom: 40px;
}

.team__list {
  justify-content: space-between;
}

.team__item {
  width: calc((100% - 38px * 2) / 3);
}

.teem__photo {
  margin-bottom: 6px;
}

/* how we work */
.how-we-work {
  padding-bottom: 80px;
  text-align: center;
  background-color: var(--bg-pink);
}

.how-we-work__title {
  margin-bottom: 40px;
}

.how-we-work__list{
  justify-content: space-between;
}

.how-we-work__item {
  width: calc((100% - 60px) / 4);
}

.how-we-work__number {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-weight: 500;
  font-size: 30px;
  line-height: 70px;
  color: var(--text-light);
  background-color: var(--bg-dark);
}
